@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  -o-transition: $property;
  transition: $property;
}
@mixin shadow($property){
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  -ms-box-shadow: $property;
  -o-box-shadow: $property;
  box-shadow: $property;
}
@mixin border-radius($property){
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

$color-1:#724171;
$color-white:#fff;
$color-light-gray:#f5f5f5;
$color-black:#333;
